@import 'Base/base.css';
@import 'Components/organizers.css';
@import 'Components/faq.css';
@import 'Components/follow-us.css';
@import 'Components/prizes-item.css';
@import 'Components/links.css';
@import "Components/header.css";
@import "Components/about.css";