#header{
    margin-right: -80%;
    margin-top: -10px;
     padding: 10px 10vw 200px;   
    height: 15vh;
    width: 100%;
    max-height: 100px;  
    font-size: 0.99rem;   
    position: fixed;
    z-index: 1;
}
/*********************************/
.navbar-brand {
   /* position: left;*/
    z-index: 2;
    width:60%;
    
}

.navbar-brand .e {
    font-family: "Poppins", sans-serif;
}

.navbar-nav {
    z-index: 2;
    list-style: none;
    width: auto
    height: auto;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: black;
    position: relative;
    
}
/*--------------------*/
@media screen and (max-width: 991px){

.navbar-brand svg {
    margin-left: -20px;
    }
    .animated-icon1{
            margin-left: 20px;
    }
    .navbar-nav .nav-item .nav-link{
        &:hover,
        &:focus {
           
            border-bottom-width: 2px ;
            border-bottom-style: solid;
           opacity: 1;
        }
    }
    
    .navbar-nav li.active > a{
    
            border-bottom-color: #00A7E7;
            border-bottom-width: 2px ;
            border-bottom-style: solid;
           opacity: 1;
    }
    .navbar-nav  li.selector {
    background-color: transparent;
    width: 64px;
    height: 2px;
    position: absolute;  
    bottom: 3px;
    left:0;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
      
    }



/*--------------------*/
@media screen and (min-width: 992px) and (max-width: 1079px){
   
.navbar-nav  li.selector {
    background-color: #00A7E7;
    width: 64px;
    height: 2px;
    position: absolute;  
    bottom: 3px;
    margin-left: 2px;
    left:0;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navbar-brand {
    width: 200px;
    }
}
/*--------------------*/
@media screen and (min-width: 1080px) and (max-width: 1379px){
   
.navbar-nav  li.selector {
    background-color: #00A7E7;
    width: 62px;
    height: 2px;
    position: absolute;  
    bottom: 3px;
    margin-left:14.8vw ;
    left:0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.navbar-brand {
    width: 200px;
    }
     .navbar-nav{
   padding-left: 15vw;
}

}
/*--------------------*/
@media only screen and (min-width: 1380px) and (max-width: 1920px){
   .navbar-nav{
    margin-top: -30px;
    margin-right: -300px;
    margin-left: 280px;
    padding-left: 80px;
    padding-right: 80px;
}
.navbar-brand {
    width: 200px;

    }
   
.navbar-nav  li.selector {
    background-color: #00A7E7;
    width: 64px;
    height: 2px;
    position: absolute;  
    bottom: 3px;
    margin-left: 80px;   

left:0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


}
/*--------------------*/
@media only screen (min-width: 1920px){
     
.navbar-nav  li.selector {
    background-color: #00A7E7;
    width: 64px;
    height: 2px;
    position: absolute;  
    bottom: 3px; margin-left: 
    left:0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


}

/*--------------------*/

.navbar-nav .nav-item{
    float: left;
    height: min-content;
    margin-right: 1.5vw;
}

.navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.navbar-nav .nav-item .nav-link:hover {
    text-decoration: none;
    color: inherit;
}


 
    /*----------Mobile menu-------------------*/
    .fa-1x {
        font-size: 1.5rem;
        }
        .navbar-toggler.toggler-example {
        cursor: pointer;
        }
        .dark-blue-text {
        color:#00A7E7;
        }
      
      /*----------Animation humberger-------------------*/
.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #00A7E7;
    }

    
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    

    
 