#youtube:hover .youtube,#twitter:hover .twitter,
#facebook:hover .facebook,#mail:hover .mail,
#instagram stop 
{
    transition: ease-in-out all .3s;
    -webkit-transition: ease-in-out all .3s;
    -moz-transition: ease-in-out all .3s;
    -ms-transition: ease-in-out all .3s;
    -o-transition: ease-in-out all .3s;
}
#youtube:hover .youtube{
    fill: red;
}
#twitter:hover .twitter{
    fill: #1c9deb;
}
#facebook:hover .facebook{
    fill: #4267b2;
}
#mail:hover .mail{
    fill: #2a3348;
}
#instagram:hover #stop1 {
    stop-color: #F8ED34;
}
#instagram:hover #stop2 {
    stop-color: #EA118D;
}
#instagram:hover #stop3 {
    stop-color: #2E368F;
}